///  Created on : Feb 15, 2019, 5:42:05 PM
/// Author     : Pramod

/// GUVI BUTTON COMPONENTS
$Guvi-Btn-BackGroundColor:#06E278;
$Guvi-Btn-BackGround-color: #404d6f;
$Guvi-Btn-Color:#FFFFFF;
$Guvi-Btn-BackGround-Default:#ffffff;
$Guvi-Btn-BackGround-Default-Hover:#cecece;
$Guvi-Btn-Border_radius:#404d6f;
$Guvi-Btn-BackGroundColor-Hover:#00d16c;
$Guvi-Btn-BackGround-Login:#6320ee;
/// GUVI FOTTER
$Guvi_Footer_Background:linear-gradient(180deg, #474747 0%, #000000 100%);
$Guvi_Footer_Color:#ffffff;
$Guvi_Footer_Font:20px;