/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2019, 5:43:50 PM
    Author     : Pramod
*/

///................color........
$primary-Color:#1e1f24;
$secondary-Color:#353535;
$offset-color:#1d1d1d;
$offset2-color:#312c35;
$primary-font-color:#dadadb;
$secondary-font-color:#f8f7fc;
$highlight-color: #06e278;
$title-color:#eef1f8;
$runbutton-color:#6618aa;
$border-primarycolor:#707070;
$border-secondarycolor:#312c35;

///......fonts..........

$primary-font:Montserrat;
$secondary-font:muli;
$strong:600;
$mid:500;
$soft:400;
$weak:300;
$primary-font-size: 18px !default;
$secondary-font-size:10px;